<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="citic.gdjc.ckdj.mapper.busi.Br50_cxqq_back_transMapper"> 
 
 <sql id="base_columns"> 
    uniqueid,docno,caseno,transseq,cxfkjg,cxfkjgyy,accname,cardno,acctype,zh,ctac,subaccount,exchangetype,transtime,expense,income,currency,banlance,transaddr,transtype,transaddrno,transcountry,transtel,transchannel,transtelle,transtermi,matchaccou,matchaccna,matchbankn,matchbankname,transremark,transnum,qrydt
 </sql> 
 
  <select id="selectBr50_cxqq_back_transByVo" parameterType="citic.gdjc.ckdj.domain.Br50_cxqq_back" resultType="citic.gdjc.ckdj.domain.Br50_cxqq_back_trans"> 
   select 
   <include refid="base_columns" /> 
   from br50_cxqq_back_trans 
    <where> 
      <if test="uniqueid != null  and uniqueid != '' "> 
         uniqueid = #{uniqueid} 
      </if> 
    </where> 
  </select> 
 
  <insert id="insertBr50_cxqq_back_trans" parameterType="citic.gdjc.ckdj.domain.Br50_cxqq_back_trans"> 
    insert into br50_cxqq_back_trans(
    <include refid="base_columns" /> 
    ) values(
    #{uniqueid},#{docno},#{caseno},#{transseq},#{cxfkjg},#{cxfkjgyy},#{accname},#{cardno},#{acctype},#{zh},#{ctac},#{subaccount},#{exchangetype},#{transtime},#{expense},#{income},#{currency},#{banlance},#{transaddr},#{transtype},#{transaddrno},#{transcountry},#{transtel},#{transchannel},#{transtelle},#{transtermi},#{matchaccou},#{matchaccna},#{matchbankn},#{matchbankname},#{transremark},#{transnum},#{qrydt}
    ) 
    </insert> 
 
  <update id="updateBr50_cxqq_back_trans" parameterType="citic.gdjc.ckdj.domain.Br50_cxqq_back_trans"> 
  update br50_cxqq_back_trans 
  <set> 
  <if test="uniqueid != null">
uniqueid=#{uniqueid},
</if> 
<if test="docno != null">
docno=#{docno},
</if> 
<if test="caseno != null">
caseno=#{caseno},
</if> 
<if test="transseq != null">
transseq=#{transseq},
</if> 
<if test="cxfkjg != null">
cxfkjg=#{cxfkjg},
</if> 
<if test="cxfkjgyy != null">
cxfkjgyy=#{cxfkjgyy},
</if> 
<if test="accname != null">
accname=#{accname},
</if> 
<if test="cardno != null">
cardno=#{cardno},
</if> 
<if test="acctype != null">
acctype=#{acctype},
</if> 
<if test="zh != null">
zh=#{zh},
</if> 
<if test="ctac != null">
ctac=#{ctac},
</if> 
<if test="subaccount != null">
subaccount=#{subaccount},
</if> 
<if test="exchangetype != null">
exchangetype=#{exchangetype},
</if> 
<if test="transtime != null">
transtime=#{transtime},
</if> 
<if test="expense != null">
expense=#{expense},
</if> 
<if test="income != null">
income=#{income},
</if> 
<if test="currency != null">
currency=#{currency},
</if> 
<if test="banlance != null">
banlance=#{banlance},
</if> 
<if test="transaddr != null">
transaddr=#{transaddr},
</if> 
<if test="transtype != null">
transtype=#{transtype},
</if> 
<if test="transaddrno != null">
transaddrno=#{transaddrno},
</if> 
<if test="transcountry != null">
transcountry=#{transcountry},
</if> 
<if test="transtel != null">
transtel=#{transtel},
</if> 
<if test="transchannel != null">
transchannel=#{transchannel},
</if> 
<if test="transtelle != null">
transtelle=#{transtelle},
</if> 
<if test="transtermi != null">
transtermi=#{transtermi},
</if> 
<if test="matchaccou != null">
matchaccou=#{matchaccou},
</if> 
<if test="matchaccna != null">
matchaccna=#{matchaccna},
</if> 
<if test="matchbankn != null">
matchbankn=#{matchbankn},
</if> 
<if test="matchbankname != null">
matchbankname=#{matchbankname},
</if> 
<if test="transremark != null">
transremark=#{transremark},
</if> 
<if test="transnum != null">
transnum=#{transnum},
</if> 
<if test="qrydt != null">
qrydt=#{qrydt}
</if> 

  </set> 
  where uniqueid=#{uniqueid} 
  </update> 
 
  <delete id="deleteBr50_cxqq_back_transByID" parameterType="String">  
  <![CDATA[ delete from br50_cxqq_back_trans where uniqueid=#{uniqueid} ]]>
   </delete> 
 
  <select id="selectBr50_cxqq_back_transByID" parameterType="String" resultType="citic.gdjc.ckdj.domain.Br50_cxqq_back_trans"> 
  select 
  <include refid="base_columns" /> 
  from br50_cxqq_back_trans 
  where uniqueid=#{uniqueid} 
  </select> 
 
</mapper> 
