<?xml version="1.0" encoding="UTF-8"?>
<!-- <configuration scan="false" > -->
<configuration scan="true" scanPeriod="60 seconds" debug="false"> 

	<!-- 彩色日志 -->  
   <!--  <property name="CONSOLE_LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %highlight(%msg) %n" />  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
       <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>  
    </encoder>
    </appender>   -->
     
	<!-- 非彩色日志 -->
	<!-- 输出日志到控制台 -->
	<!-- %d{HH: mm:ss.SSS}——日志输出时间 -->
	<!-- %thread——输出日志的进程名字，这在Web应用以及异步任务处理中很有用 -->
	<!-- %-5level——日志级别，并且使用5个字符靠左对齐 -->
	<!-- %logger{36}——日志输出者的名字 -->
	<!-- %msg——日志消息 -->
	<!-- %n——平台的换行符 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n </pattern>
		</encoder>
	</appender> 

	<!-- 输出日志到文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${user.dir}/logs/app_%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>31</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
		<!--日志文件最大的大小 -->
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<!-- 日志级别控制 -->
	<root level="info">
		<!-- 生产环境可以去掉STDOUT的日志输出 -->
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

	<!-- 特殊包/类的日志级别设置[可添加多个logger], additivity设置为false,避免日志输出2次 -->
	<!-- <logger name="com.leo.nas" level="debug" additivity="false"> <appender-ref ref="STDOUT" /> </logger> -->

	<!-- 以下用到了spring扩展profile的支持,需要文件名为logback-spring.xml -->
	<!-- 根据环境设置日志级别,适合jar 如:java -jar xxx.jar –spring.profiles.active=prod -->
	<!-- 测试环境+开发环境. 多个使用逗号隔开. -->
	<springProfile name="dev">
		<!-- <logger name="com.leo.nas" level="debug" /> -->
		<logger name="com.leo.nas" level="debug" additivity="false"> <appender-ref ref="STDOUT" /> </logger>
	</springProfile>
	<!-- 生产环境. -->
	<springProfile name="prod">
		<!-- <logger name="com.leo.nas" level="info" /> -->
		<logger name="com.leo.nas" level="info" additivity="false"> <appender-ref ref="FILE" /> </logger>
	</springProfile>


</configuration>
