<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="citic.whpsb.mapper.busi.Br51_cxqq_backMapper"> 
 
 <sql id="base_columns"> 
    ah,msgseq,cljg,czsbyy,qrydt,orgkey,dealing_p,dealing_time,last_up_dt,msgcheckresult,status,bdhm
 </sql> 
 
  <select id="selectBr51_cxqq_backByVo" parameterType="citic.whpsb.wlcx.domain.Br51_cxqq_back" resultType="citic.whpsb.wlcx.domain.Br51_cxqq_back"> 
   select b.*,m.msgseq,m.ah,m.bdhm,m.party_class_cd,m.qrymode from br51_cxqq_back b,br51_cxqq_mx  m where m.msgseq=b.msgseq and m.ah=b.ah and m.bdhm=b.bdhm
     
       <if test="msgseq != null  and msgseq != '' "> 
      and   b.msgseq = #{msgseq} 
      </if> 
       <if test="orgkey_disp != null  and orgkey_disp != '' "> 
      and   b.orgkey in (${orgkey_disp})
      </if> 
        <if test="bdhm != null  and bdhm != '' "> 
      and    b.bdhm = #{bdhm} 
      </if> 
       <if test="status != null  and status != '' "> 
      and   b.status=#{status}
      </if> 
       <if test="cljg != null  and cljg != '' "> 
      and   b.cljg=#{cljg}
      </if> 
        <if test="qrymode != null  and qrymode != '' "> 
      and    m.qrymode = #{qrymode} 
      </if>
        <if test="party_class_cd != null  and party_class_cd != '' "> 
      and    m.party_class_cd = #{party_class_cd} 
      </if> 
       <if test="khrq_start != null  and khrq_start != '' "> 
         and b.dealing_time &gt;= #{dealing_time_end} 
      </if>
      <if test="khrq_end != null  and khrq_end != '' "> 
         and b.khrq &lt;= #{khrq_end} 
      </if>
        <if test="dealing_time_start != null  and dealing_time_start != '' "> 
         and b.dealing_time &gt;= #{dealing_time_start} 
      </if>
      <if test="dealing_time_end != null  and dealing_time_end != '' "> 
         and b.dealing_time &lt;= #{dealing_time_end} 
      </if> 
        <if test="qrydt_start != null  and qrydt_start != '' "> 
         and b.qrydt &gt;= #{qrydt_start} 
      </if>
      <if test="qrydt_end != null  and qrydt_end != '' "> 
         and b.qrydt &lt;= #{qrydt_end} 
      </if>
      <if test="ah != null  and ah != '' "> 
         and b.ah= #{ah} 
      </if>
      order by b.cljg desc,b.status asc,b.qrydt desc,b.dealing_time desc
  </select> 
 
  <select id="selectBr51_cxqq_back_msgByVo" parameterType="citic.whpsb.wlcx.domain.Br51_cxqq_back_msg" resultType="citic.whpsb.wlcx.domain.Br51_cxqq_back_msg"> 
   select * from br51_cxqq_back_msg where 1=1
     
       <if test="msgseq != null  and msgseq != '' "> 
        and   msgseq = #{msgseq} 
      </if> 
      <if test="msg_filename != null  and msg_filename != '' "> 
       and  msg_filename like '%'|| #{msg_filename}||'%' 
      </if>
       <if test="create_dt_start != null  and create_dt_start != '' "> 
         and create_dt &gt;= #{create_dt_start} 
      </if>
      <if test="create_dt_end != null  and create_dt_end != '' "> 
         and create_dt &lt;= #{create_dt_end} 
      </if>
      <if test="status != null  and status != '' "> 
         and status= #{status} 
      </if>
  </select> 
 

 <!-- 查询账户信息 -->
  <select id="selectBr51_cxqq_back_acctByID" parameterType="String" resultType="citic.whpsb.wlcx.domain.Br51_cxqq_back_acct"> 
  select * from br51_cxqq_back_acct where bdhm=#{bdhm} 
  </select> 
<select id="selectBr51_cxqq_back_acctListByVo" parameterType="citic.whpsb.wlcx.domain.Br51_cxqq_back" resultType="citic.whpsb.wlcx.domain.Br51_cxqq_back_acct"> 
   select * from br51_cxqq_back_acct  where 1=1
      <if test="bdhm != null  and bdhm != '' "> 
       and  bdhm = #{bdhm} 
      </if> 
      <if test="msgseq != null  and msgseq != '' "> 
       and  msgseq = #{msgseq} 
      </if> 
       <if test="zhxh != null  and zhxh != '' "> 
       and  zhxh = #{zhxh} 
      </if>
      <if test="zh != null  and zh != '' "> 
       and  zh = #{zh} 
      </if> 
      <if test="zhzt != null  and zhzt != '' "> 
       and  zhzt = #{zhzt} 
      </if> 
     <if test="khrq_start != null  and khrq_start != '' "> 
         and khrq &gt;= #{khrq_start} 
      </if>
      <if test="khrq_end != null  and khrq_end != '' "> 
         and khrq &lt;= #{khrq_end} 
      </if>
       <if test="qrydt_start != null  and qrydt_start != '' "> 
         and qrydt &gt;= #{qrydt_start} 
      </if>
      <if test="qrydt_end != null  and qrydt_end != '' "> 
         and qrydt &lt;= #{qrydt_end} 
      </if>
  </select>  
 
 <!-- 持有人资料查询 -->
   <select id="selectBr51_cxqq_back_cardByID" parameterType="String" resultType="citic.whpsb.wlcx.domain.Br51_cxqq_back_card"> 
  select * from br51_cxqq_back_card where bdhm = #{bdhm}
  </select> 
<select id="selectBr51_cxqq_back_cardListByVo" parameterType="citic.whpsb.wlcx.domain.Br51_cxqq_back" resultType="citic.whpsb.wlcx.domain.Br51_cxqq_back_card"> 
   select * from br51_cxqq_back_card  where 1=1
      <if test="bdhm != null  and bdhm != '' "> 
       and  bdhm = #{bdhm} 
      </if> 
      <if test="msgseq != null  and msgseq != '' "> 
       and  msgseq = #{msgseq} 
      </if>
      <if test="ckrxm != null  and ckrxm != '' "> 
       and  ckrxm like '%'|| #{ckrxm}||'%' 
      </if> 
      <if test="zzhm != null  and zzhm != '' "> 
       and  zzhm = #{zzhm} 
      </if> 
      <if test="qrydt_start != null  and qrydt_start != '' "> 
         and qrydt &gt;= #{khrq_start} 
      </if>
      <if test="qrydt_end != null  and qrydt_end != '' "> 
         and qrydt &lt;= #{qrydt_end} 
      </if> 
  </select> 
  
  
  
   <!-- 开户资料查询 -->
   
   <select id="selectBr51_cxqq_back_partyByID" parameterType="String" resultType="citic.whpsb.wlcx.domain.Br51_cxqq_back_party"> 
  select * from br51_cxqq_back_party  where bdhm=#{bdhm} 
  </select> 
  
 
 
<select id="selectBr51_cxqq_back_partyListByVo" parameterType="citic.whpsb.wlcx.domain.Br51_cxqq_back" resultType="citic.whpsb.wlcx.domain.Br51_cxqq_back_party"> 
   select * from br51_cxqq_back_party  where 1=1
      <if test="bdhm != null  and bdhm != '' "> 
       and  bdhm = #{bdhm} 
      </if> 
      <if test="msgseq != null  and msgseq != '' "> 
       and  msgseq = #{msgseq} 
      </if> 
       <if test="dbrxm != null  and dbrxm != '' "> 
       and  dbrxm  like '%'|| #{dbrxm}||'%' 
      </if>
       <if test="lxr != null  and lxr != '' "> 
       and  lxr = #{lxr} 
      </if>
       <if test="frdb != null  and frdb != '' "> 
       and  frdb like '%'|| #{frdb}||'%' 
      </if>
       <if test="khwd != null  and khwd != '' "> 
       and  khwd = #{khwd} 
      </if>
      <if test="qrydt_start != null  and qrydt_start != '' "> 
         and qrydt &gt;= #{khrq_start} 
      </if>
      <if test="qrydt_end != null  and qrydt_end != '' "> 
         and qrydt &lt;= #{qrydt_end} 
      </if> 
  </select>  
  
  <!-- 交易明细查询 -->
   <select id="selectBr51_cxqq_back_transByID" parameterType="String" resultType="citic.whpsb.wlcx.domain.Br51_cxqq_back_trans"> 
  select * from br51_cxqq_back_trans  where bdhm=#{bdhm} 
  </select> 
<select id="selectBr51_cxqq_back_transListByVo" parameterType="citic.whpsb.wlcx.domain.Br51_cxqq_back" resultType="citic.whpsb.wlcx.domain.Br51_cxqq_back_trans"> 
   select * from br51_cxqq_back_trans  where 1=1
      <if test="bdhm != null  and bdhm != '' "> 
       and  bdhm = #{bdhm} 
      </if> 
      <if test="msgseq != null  and msgseq != '' "> 
       and  msgseq = #{msgseq} 
      </if>
       <if test="zh != null  and zh != '' "> 
       and  zh = #{zh} 
      </if> 
       <if test="matchaccna != null  and matchaccna != '' "> 
       and  matchaccna like '%'||#{matchaccna}||'%' 
      </if> 
       <if test="debit_credit != null  and debit_credit != '' "> 
       and  debit_credit = #{debit_credit} 
      </if>  
       <if test="qrydt_start != null  and qrydt_start != '' "> 
         and qrydt &gt;= #{qrydt_start} 
      </if>
      <if test="qrydt_end != null  and qrydt_end != '' "> 
         and qrydt &lt;= #{qrydt_end} 
      </if>
  </select> 
  
 
  <insert id="insertBr51_cxqq_back" parameterType="citic.whpsb.wlcx.domain.Br51_cxqq_back"> 
    insert into br51_cxqq_back(
    <include refid="base_columns" /> 
    ) values(
    #{ah},#{msgseq},#{cljg},#{czsbyy},#{qrydt},#{orgkey},#{dealing_p},#{dealing_time}，#{last_up_dt},#{msgcheckresult},#{status},#{bdhm}
    ) 
    </insert> 
 
  <update id="updateBr51_cxqq_back" parameterType="citic.whpsb.wlcx.domain.Br51_cxqq_back"> 
  update br51_cxqq_back 
  <set> 
<if test="msgseq != null">
msgseq=#{msgseq},
</if> 
<if test="cljg != null">
cljg=#{cljg},
</if> 
<if test="czsbyy != null">
czsbyy=#{czsbyy},
</if> 
<if test="qrydt != null">
qrydt=#{qrydt},
</if> 
<if test="orgkey != null">
orgkey=#{orgkey},
</if> 
<if test="dealing_p != null">
dealing_p=#{dealing_p},
</if> 
<if test="dealing_time != null">
dealing_time=#{dealing_time},
</if> 

<if test="last_up_dt != null">
last_up_dt=#{last_up_dt},
</if> 
<if test="bdhm != null">
bdhm=#{bdhm},
</if> 
<if test="msgcheckresult != null">
msgcheckresult=#{msgcheckresult},
</if> 
<if test="status != null">
status=#{status}
</if> 

  </set> 
  where bdhm=#{bdhm} 
  </update> 
 
  <delete id="deleteBr51_cxqq_backByID" parameterType="String">  
  <![CDATA[ delete from br51_cxqq_back where ah=#{ah} ]]>
   </delete> 
 
  <select id="selectBr51_cxqq_backByID" parameterType="String" resultType="citic.whpsb.wlcx.domain.Br51_cxqq_back"> 
  select 
  <include refid="base_columns" /> 
  from br51_cxqq_back 
  where bdhm=#{bdhm} 
  </select> 
 
</mapper> 
