<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="citic.whpsb.mapper.busi.Br51_cxqqMapper"> 
 
 <sql id="base_columns"> 
    msgseq,yhdm,czsj,count,status,orgkey,qrydt,recipient_p,recipient_time,last_up_dt,packetkey,feedback_p,feedback_time
 </sql> 
 
  <select id="selectBr51_attchByVo" parameterType="citic.whpsb.wlcx.domain.Br51_attach" resultType="citic.whpsb.wlcx.domain.Br51_attach"> 
   select * from br51_attach where 1=1
       <if test="packetkey != null  and packetkey != '' "> 
       and   packetkey=#{packetkey}
      </if> 
       <if test="xh != null  and xh != '' "> 
       and  xh = #{xh} 
      </if> 
      <if test="qrydt_start != null  and qrydt_start != '' "> 
         and qrydt &gt;= #{qrydt_start} 
      </if>
      <if test="qrydt_end != null  and qrydt_end != '' "> 
         and qrydt &lt;= #{qrydt_end} 
      </if>
        <if test="wjmc != null  and wjmc != '' "> 
         and  wjmc  like '%'||#{wjmc}||'%'  
      </if>
        <if test="wjlx != null  and wjlx != '' "> 
        and  wjlx = #{wjlx} 
       </if>
        order by qrydt desc,xh desc
  </select> 
 
 
  <select id="selectBr51_cxqqByVo" parameterType="citic.whpsb.wlcx.domain.Br51_cxqq" resultType="citic.whpsb.wlcx.domain.Br51_cxqq"> 
 select b.*,m.PARTY_CLASS_CD,m.QRYMODE from br51_cxqq b join BR51_CXQQ_MX m on b.MSGSEQ=m.MSGSEQ where
  b.MSGSEQ=(select max(msgseq) from br51_cxqq_mx as c where b.MSGSEQ=c.MSGSEQ)  
      <if test="msgseq != null  and msgseq != '' "> 
       and   b.msgseq like '%'||#{msgseq}||'%' 
      </if> 
       <if test="orgkey_disp != null  and orgkey_disp != '' "> 
       and   b.orgkey  in (${orgkey_disp})
      </if>
       <if test="packetkey != null  and packetkey != '' "> 
       and   b.packetkey  like '%'||#{packetkey}||'%' 
      </if> 
       <if test="status != null  and status != '' "> 
       and  b.status = #{status} 
      </if> 
      <if test="czsj_start != null  and czsj_start != '' "> 
         and b.czsj &gt;= #{czsj_start} 
      </if>
       <if test="czsj_end != null  and czsj_end != '' "> 
         and b.czsj &lt;= #{czsj_end} 
      </if>
       <if test="party_class_cd != null  and party_class_cd != '' "> 
         and m.party_class_cd = #{party_class_cd} 
      </if>
        <if test="qrydt_start != null  and qrydt_start != '' "> 
         and b.qrydt &gt;= #{qrydt_start} 
      </if>
      <if test="qrydt_end != null  and qrydt_end != '' "> 
         and b.qrydt &lt;= #{qrydt_end} 
      </if>
       <if test="qrymode != null  and qrymode != '' "> 
         and m.qrymode = #{qrymode} 
      </if>
      order by b.status asc,b.qrydt desc,b.feedback_time desc
  </select> 
 
  <insert id="insertBr51_cxqq" parameterType="citic.whpsb.wlcx.domain.Br51_cxqq"> 
    insert into br51_cxqq(
    <include refid="base_columns" /> 
    ) values(
    #{msgseq},#{yhdm},#{czsj},#{count},#{status},#{orgkey},#{qrydt},#{recipient_p},#{recipient_time},#{last_up_dt},#{packetkey},#{feedback_p},#{feedback_time}
    ) 
   </insert> 
 
  <update id="updateBr51_cxqq" parameterType="citic.whpsb.wlcx.domain.Br51_cxqq"> 
  update br51_cxqq 
  <set> 
  <if test="msgseq != null">
msgseq=#{msgseq},
</if> 
<if test="yhdm != null">
yhdm=#{yhdm},
</if> 
<if test="czsj != null">
czsj=#{czsj},
</if> 
<if test="count != null">
count=#{count},
</if> 
<if test="status != null">
status=#{status},
</if> 
<if test="orgkey != null">
orgkey=#{orgkey},
</if> 
<if test="qrydt != null">
qrydt=#{qrydt},
</if> 
<if test="recipient_p != null">
recipient_p=#{recipient_p},
</if> 
<if test="recipient_time != null">
recipient_time=#{recipient_time},
</if> 
<if test="last_up_dt != null">
last_up_dt=#{last_up_dt}
</if> 

  </set> 
  where msgseq=#{msgseq} 
  </update> 
 
  <delete id="deleteBr51_cxqqByID" parameterType="String">  
  <![CDATA[ delete from br51_cxqq where msgseq=#{msgseq} ]]>
   </delete> 
 
  <select id="selectBr51_cxqqByID" parameterType="String" resultType="citic.whpsb.wlcx.domain.Br51_cxqq"> 
  select 
  <include refid="base_columns" /> 
  from br51_cxqq 
  where msgseq=#{msgseq} 
  </select> 
 
</mapper> 
