<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="citic.shpsb.mapper.busi.Br54_cxqqMapper">

	<sql id="base_columns">
		msgseq,yhdm,packetkey,czsj,count,status,orgkey,qrydt,recipient_p,recipient_time,last_up_dt,feedback_p,feedback_time
	</sql>

	<select id="selectBr54_cxqqByVo" parameterType="citic.shpsb.wlcx.domain.Br54_cxqq"
		resultType="citic.shpsb.wlcx.domain.Br54_cxqq">
		SELECT DISTINCT (b.msgseq) , b.yhdm, b.czsj, b.count,
		b.status,b.orgkey, b.qrydt, b.recipient_p,
		b.recipient_time, b.last_up_dt, b.feedback_p,b.feedback_time, m.party_class_cd,
		m.qrymode FROM
		br54_cxqq b,br54_cxqq_mx m WHERE b.msgseq=m.msgseq
		<if test="msgseq != null  and msgseq != '' ">
			and b.msgseq like '%'||#{msgseq}||'%'
		</if>
		<if test="organstr != null  and organstr != '' ">
			and b.orgkey in (${organstr})
		</if>
		<if test="packetkey != null  and packetkey != '' ">
			and b.packetkey=#{packetkey}
		</if>
		<if test="status != null  and status != '' ">
			and b.status = #{status}
		</if>
		<if test="party_class_cd != null  and party_class_cd != '' ">
			and m.party_class_cd = #{party_class_cd}
		</if>
		<if test="qrydt_start != null  and qrydt_start != '' ">
			and b.qrydt &gt;= #{qrydt_start}
		</if>
		<if test="qrydt_end != null  and qrydt_end != '' ">
			and b.qrydt &lt;= #{qrydt_end}
		</if>
		<if test="qrymode != null  and qrymode != '' ">
			and m.qrymode = #{qrymode}
		</if>
		order by b.status asc,b.qrydt desc,b.feedback_time desc
	</select>

	<select id="selectBr54_cxqq_mxByVo" parameterType="citic.shpsb.wlcx.domain.Br54_cxqq_mx"
		resultType="citic.shpsb.wlcx.domain.Br54_cxqq_mx">
		select * from br54_cxqq_mx where 1=1
		<if test="msgseq != null  and msgseq != '' ">
			and msgseq=#{msgseq}
		</if>
		<if test="bdhm != null  and bdhm != '' ">
			and bdhm like '%'||#{bdhm}||'%'
		</if>
		<if test="ah != null  and ah != '' ">
			and ah like '%'||#{ah}||'%'
		</if>
		<if test="zh != null  and zh != '' ">
			and zh = #{zh}
		</if>
		<if test="zzhm != null  and zzhm != '' ">
			and zzhm = #{zzhm}
		</if>
		<if test="mc != null  and mc != '' ">
			and mc like '%'|| #{mc}||'%'
		</if>
		<if test="zzlx != null  and zzlx != '' ">
			and zzlx = #{zzlx}
		</if>
		<if test="party_class_cd != null  and party_class_cd != '' ">
			and party_class_cd = #{party_class_cd}
		</if>
		<if test="qrymode != null  and qrymode != '' ">
			and qrymode = #{qrymode}
		</if>
		order by qrydt desc
	</select>



	<insert id="insertBr54_cxqq" parameterType="citic.shpsb.wlcx.domain.Br54_cxqq">
		insert into br54_cxqq(
		<include refid="base_columns" />
		) values(
		#{msgseq},#{yhdm},#{czsj},#{count},#{status},#{orgkey},#{qrydt},#{recipient_p},#{recipient_time},#{last_up_dt},#{packetkey},#{feedback_p},#{feedback_time}
		)
	</insert>

	<select id="selectBr54_cxqq_mxByID" parameterType="String"
		resultType="citic.shpsb.wlcx.domain.Br54_cxqq_mx">
		select * from br54_cxqq_mx where bdhm=#{bdhm}
	</select>
</mapper> 
