<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="citic.cgb.face.mapper.busi.Cgb_face_dataMapper">

	<sql id="base_columns">
		suspect_img_id,victim_img_id,victim_name,victim_card_type,victim_card_num,victim_card_validity,busi_website,busi_teller_num,busi_time,busi_type,busi_way,risk_type,telephone,address,fingerprint,similarity,data_source,add_user_id,add_time,modify_user_id,modify_time,firmly_flag,assist_batch_id,remark,md_channel,rm_flag
	</sql>

	<sql id="base_img">
		img_id,img_type,img_path,img_name
	</sql>
	<sql id="base_face_assist">
		suspect_img_id,img_id,assist_card_type,assist_card_num,assist_card_name
	</sql>

	<select id="selectCgb_face_dataByVo" parameterType="citic.cgb.face.domain.Cgb_face_data" resultType="citic.cgb.face.domain.Cgb_face_data">
		select a.*,b.img_id,b.img_type,b.img_path,b.img_name 
		from cgb_face_data a,cgb_face_img b
		where a.suspect_img_id=b.img_id and firmly_flag = '0'
		<if test="suspect_img_id != null  and suspect_img_id != '' ">
			and suspect_img_id = #{suspect_img_id}
		</if>

	</select>


	<!-- 插入受害人信息 -->
	<insert id="insertCgb_face_data" parameterType="citic.cgb.face.domain.Cgb_face_data">
		insert into cgb_face_data(
		suspect_img_id,victim_img_id,victim_name,victim_card_type,victim_card_num,victim_card_validity,busi_website,busi_teller_num,busi_time,busi_type,busi_way,risk_type,telephone,address,fingerprint,similarity,data_source,add_user_id,add_time,firmly_flag,assist_batch_id,remark,md_channel,rm_flag
		) values(
		#{suspect_img_id},#{victim_img_id},#{victim_name},#{victim_card_type},#{victim_card_num},#{victim_card_validity},#{busi_website},#{busi_teller_num},#{busi_time},#{busi_type},#{busi_way},#{risk_type},#{telephone},#{address},#{fingerprint},#{similarity},#{data_source},#{add_user_id},#{add_time},#{firmly_flag},#{assist_batch_id},#{remark},#{md_channel},#{rm_flag}
		)
	</insert>

	<!-- 插入图片信息 -->
	<insert id="insertCgb_face_img" parameterType="citic.cgb.face.domain.Cgb_face_data">
		insert into cgb_face_img(
		<include refid="base_img" />
		) values(
		#{img_id},#{img_type},#{img_path},#{img_name}
		)
	</insert>
	<!-- 插入辅助证件信息 -->
	<insert id="insertCgb_face_assist" parameterType="citic.cgb.face.domain.Cgb_face_data">
		insert into cgb_face_assist(
		<include refid="base_face_assist" />
		) values(
		#{suspect_img_id},#{assist_img_id},#{assist_card_type},#{assist_card_num},#{assist_card_name}
		)
	</insert>

	<select id="selectCgb_face_dataCheckList" parameterType="citic.cgb.face.domain.Cgb_face_data" resultType="citic.cgb.face.domain.Cgb_face_data">
		select t1.*
		from
		(
		select
		a.group_id,a.data_source,a.commit_time,b.num,b.is_main,c.suspect_img_id,c.victim_img_id,c.victim_name,c.victim_card_type,c.victim_card_num,c.victim_card_validity,c.busi_website,c.busi_teller_num,
		c.busi_time,c.busi_type,c.busi_way,c.telephone,c.address,c.similarity,c.risk_type,c.md_channel,c.remark
		from cgb_face_group a,cgb_face_group_rel b,cgb_face_data c
		where a.group_id = b.group_id and b.suspect_img_id = c.suspect_img_id
		and a.check_result = #{check_result}
		) t1 
		<where>
		<if test="suspect_img_id != null  and suspect_img_id != '' ">
			and t1.suspect_img_id = #{suspect_img_id}
		</if>
		<if test="victim_card_num != null  and victim_card_num != '' ">
			and t1.victim_card_num = #{victim_card_num}
		</if>
		<if test="victim_name != null  and victim_name != '' ">
			and t1.victim_name = #{victim_name}
		</if>
		<if test="busi_website != null  and busi_website != '' ">
			and t1.busi_website like #{busi_website}||'%'
		</if>
		<if test="busi_type != null  and busi_type != '' ">
			and t1.busi_type like #{busi_type}||'%'
		</if>
		<if test="risk_type != null  and risk_type != '' ">
			and t1.risk_type = #{risk_type}
		</if>
		<if test="busi_time_start != null and busi_time_start != '' ">
			and t1.busi_time &gt;= #{busi_time_start}
		</if>
		<if test="busi_time_end != null and busi_time_end != '' ">
			and t1.busi_time &lt;= #{busi_time_end}
		</if>
		<if test="busi_teller_num != null  and busi_teller_num != '' ">
			and t1.busi_teller_num = #{busi_teller_num}
		</if>
		<if test="md_channel != null  and md_channel != '' ">
			and t1.md_channel = #{md_channel}
		</if>
		</where>
		order by group_id
	</select>

	<select id="selectCgb_face_dataGroupCheckList" parameterType="citic.cgb.face.domain.Cgb_face_data" resultType="citic.cgb.face.domain.Cgb_face_data"> 
		select t1.*,t2.img_path,t3.img_path as img_path_2
		from (
		select
		a.group_id,a.data_source,b.num,b.is_main,c.suspect_img_id,c.victim_img_id,c.victim_name,c.victim_card_type,c.victim_card_num,c.victim_card_validity,c.busi_website,c.busi_teller_num,
		c.busi_time,c.busi_type,c.busi_way,c.telephone,c.address,c.similarity,c.risk_type,c.md_channel,c.rm_flag
		from cgb_face_group a,cgb_face_group_rel b,cgb_face_data c
		where a.group_id = b.group_id and b.suspect_img_id = c.suspect_img_id
		) t1 left join cgb_face_img t2 on t1.suspect_img_id = t2.img_id left join cgb_face_img t3 on t1.victim_img_id = t3.img_id
		<where>
			<if test="group_id != null  and group_id != '' ">
				and group_id = #{group_id}
			</if>
		</where>
		order by is_main desc,similarity desc
	</select>
	<select id="selectCgb_face_dataGroupQueryList" parameterType="citic.cgb.face.domain.Cgb_face_data" resultType="citic.cgb.face.domain.Cgb_face_data">
		select t1.*,t2.img_path,t3.img_path as img_path_2
		from (
		select
		a.group_id,a.data_source,b.num,b.is_main,c.suspect_img_id,c.victim_img_id,c.victim_name,c.victim_card_type,c.victim_card_num,c.victim_card_validity,c.busi_website,c.busi_teller_num,
		c.busi_time,c.busi_type,c.busi_way,c.telephone,c.address,c.similarity,c.risk_type,c.md_channel,c.rm_flag
		from cgb_face_group a,cgb_face_group_rel b,cgb_face_data c
		where a.group_id = b.group_id and b.suspect_img_id = c.suspect_img_id
		) t1 left join cgb_face_img t2 on t1.suspect_img_id = t2.img_id left join cgb_face_img t3 on t1.victim_img_id = t3.img_id
		<where>
			<if test="group_id != null  and group_id != '' ">
				and group_id = #{group_id}
			</if>
		</where>
		order by is_main desc,similarity desc
	</select>
	<update id="updateCgb_face_groupResult" parameterType="citic.cgb.face.domain.Cgb_face_data">
		update cgb_face_group
		<set>
			<if test="check_user_id != null">
				check_user_id=#{check_user_id},
			</if>
			<if test="check_time != null">
				check_time=#{check_time},
			</if>
			<if test="check_result != null">
				check_result=#{check_result},
			</if>
			<if test="identify_result != null">
				identify_result=#{identify_result}
			</if>
		</set>
		<where>
			<if test="group_id != null  and group_id != '' ">
				group_id = #{group_id} 
			</if>
			<if test="ids != null  and ids != '' ">
				and group_id in (${ids})
			</if>
		</where>

	</update>
	<update id="updateCgb_face_dataRiskType" parameterType="citic.cgb.face.domain.Cgb_face_data">
		update Cgb_face_data t1 set risk_type = #{risk_type}
		where exists (select '1' from cgb_face_group_rel t2 
		             where t1.suspect_img_id = t2.suspect_img_id and t2.group_id =#{group_id} 
		              <if test="is_main != null  and is_main != '' ">
		                 and t2.is_main = #{is_main}
		              </if>
		             )
	</update>
	<select id="selectCgb_face_imgByVo" parameterType="String" resultType="citic.cgb.face.domain.Cgb_face_img">
		select img_id,img_type,img_path,img_name 
		from cgb_face_img 
		where img_id = #{_parameter}
	</select>
	<select id="selectCgb_face_group_dataByGroupID" parameterType="String" resultType="citic.cgb.face.domain.Cgb_face_data">
		select
		a.group_id,a.data_source,b.num,b.is_main,c.suspect_img_id,c.victim_img_id,c.victim_name,c.victim_card_type,c.victim_card_num,c.victim_card_validity,c.busi_website,c.busi_teller_num,
		c.busi_time,c.busi_type,c.busi_way,c.telephone,c.address,c.similarity,d.img_path,d.img_name
		from cgb_face_group a,cgb_face_group_rel b,cgb_face_data c,cgb_face_img d
		where a.group_id = b.group_id and b.suspect_img_id =
		c.suspect_img_id and c.suspect_img_id = d.img_id
		and a.group_id = #{_parameter}
	</select>
	<select id="selectCgb_face_group_dataByKeys" parameterType="String" resultType="citic.cgb.face.domain.Cgb_face_data">
		select
		a.group_id,a.data_source,b.num,b.is_main,c.suspect_img_id,c.victim_img_id,c.victim_name,c.victim_card_type,c.victim_card_num,c.victim_card_validity,c.busi_website,c.busi_teller_num,
		c.busi_time,c.busi_type,c.busi_way,c.telephone,c.address,c.similarity
		from cgb_face_group a,cgb_face_group_rel b,cgb_face_data c
		where a.group_id = b.group_id and b.suspect_img_id = c.suspect_img_id
		and b.is_main = '1'
		and a.group_id = #{_parameter}
	</select>
	<select id="selectCgb_face_group_dataByKeysNo" parameterType="String" resultType="citic.cgb.face.domain.Cgb_face_data">
		select
		a.group_id,a.data_source,b.num,b.is_main,c.suspect_img_id,c.victim_img_id,c.victim_name,c.victim_card_type,c.victim_card_num,c.victim_card_validity,c.busi_website,c.busi_teller_num,
		c.busi_time,c.busi_type,c.busi_way,c.telephone,c.address,c.similarity
		from cgb_face_group a,cgb_face_group_rel b,cgb_face_data c
		where a.group_id = b.group_id and b.suspect_img_id = c.suspect_img_id
		and b.is_main != '1'
		and a.group_id = #{_parameter}
	</select>
	<update id="updateCgb_face_group_relByImgID" parameterType="citic.cgb.face.domain.Cgb_face_data">
		update cgb_face_group_rel set suspect_img_id = #{img_id}
		where suspect_img_id = #{suspect_img_id}
	</update>
	<update id="updateCgb_face_dataByImgID" parameterType="citic.cgb.face.domain.Cgb_face_data">
		update cgb_face_data set suspect_img_id = #{img_id}
		<if test="risk_type != null  and risk_type != '' ">
		  ,risk_type = #{risk_type}
		</if>
		where suspect_img_id = #{suspect_img_id}
	</update>
	<update id="updateCgb_face_imgByImgID" parameterType="citic.cgb.face.domain.Cgb_face_data">
		update cgb_face_img set img_id = #{img_id}
		where img_id = #{suspect_img_id}
	</update>
	<update id="updateCgb_face_assistByImgID" parameterType="citic.cgb.face.domain.Cgb_face_data">
		update cgb_face_assist set suspect_img_id = #{img_id}
		where suspect_img_id = #{suspect_img_id}
	</update>
	<!-- 查询嫌疑人图像信息 -->
	<select id="selectCgb_face_suspectImglist" parameterType="citic.cgb.face.domain.Cgb_face_data" resultType="citic.cgb.face.domain.Cgb_face_data">
		select * from cgb_face_img c,cgb_face_assist s,cgb_face_data d where c.img_id=s.suspect_img_id_id and d.suspect_img_id_id=s.suspect_img_id_id
		<where>
			<if test="suspect_img_id != null  and suspect_img_id != '' ">
				and s.suspect_img_id = #{suspect_img_id}
			</if>
			<if test="img_id != null  and img_id != '' ">
				and s.img_id = #{img_id}
			</if>
			<if test="victim_img_id != null  and victim_img_id != '' ">
				and d.victim_img_id = #{victim_img_id}
			</if>
		</where>
	</select>


	<select id="selectCgb_face_dataQueryList" parameterType="citic.cgb.face.domain.Cgb_face_data" resultType="citic.cgb.face.domain.Cgb_face_data">
		select t1.*
		from
		(
		select
		a.group_id,a.data_source,a.check_user_id,a.check_result,b.num,b.is_main,c.suspect_img_id,c.victim_img_id,c.victim_name,c.victim_card_type,c.victim_card_num,c.victim_card_validity,c.busi_website,c.busi_teller_num,
		c.busi_time,c.busi_type,c.busi_way,c.telephone,c.address,c.similarity,c.risk_type,c.md_channel,c.rm_flag,rm_user_id,rm_time,rm_check_user_id,rm_check_time,c.remark
		from cgb_face_group a,cgb_face_group_rel b,cgb_face_data c
		where a.group_id = b.group_id and b.suspect_img_id = c.suspect_img_id
		and a.check_result in (${check_result_disp})
		<if test="rm_flag_disp != null  and rm_flag_disp != '' ">
			and c.rm_flag in (${rm_flag_disp})
		</if>
		) t1 
		<where>
		<if test="suspect_img_id != null  and suspect_img_id != '' ">
			and t1.suspect_img_id = #{suspect_img_id}
		</if>
		<if test="victim_card_num != null  and victim_card_num != '' ">
			and t1.victim_card_num = #{victim_card_num}
		</if>
		<if test="victim_name != null  and victim_name != '' ">
			and t1.victim_name = #{victim_name}
		</if>
		<if test="busi_website != null  and busi_website != '' ">
			and t1.busi_website like #{busi_website}||'%'
		</if>
		<if test="busi_type != null  and busi_type != '' ">
			and t1.busi_type like #{busi_type}||'%'
		</if>
		<if test="risk_type != null  and risk_type != '' ">
			and t1.risk_type = #{risk_type}
		</if>
		<if test="busi_time_start != null and busi_time_start != '' ">
			and t1.busi_time &gt;= #{busi_time_start}
		</if>
		<if test="busi_time_end != null and busi_time_end != '' ">
			and t1.busi_time &lt;= #{busi_time_end}
		</if>
		<if test="busi_teller_num != null  and busi_teller_num != '' ">
			and t1.busi_teller_num = #{busi_teller_num}
		</if>
		<if test="check_result != null  and check_result != '' ">
			and t1.check_result = #{check_result}
		</if>
		<if test="md_channel != null  and md_channel != '' ">
			and t1.md_channel = #{md_channel}
		</if>
		</where>
		order by group_id
	</select>

	<update id="updateCgb_face_data" parameterType="citic.cgb.face.domain.Cgb_face_data">
		update cgb_face_data
		<set>
			<if test="victim_name != null">
				victim_name=#{victim_name},
			</if>
			<if test="victim_card_type != null">
				victim_card_type=#{victim_card_type},
			</if>
			<if test="victim_card_num != null">
				victim_card_num=#{victim_card_num},
			</if>
			<if test="victim_card_validity != null">
				victim_card_validity=#{victim_card_validity},
			</if>
			<if test="busi_website != null">
				busi_website=#{busi_website},
			</if>
			<if test="busi_teller_num != null">
				busi_teller_num=#{busi_teller_num},
			</if>
			<if test="busi_time != null">
				busi_time=#{busi_time},
			</if>
			<if test="busi_type != null">
				busi_type=#{busi_type},
			</if>
			<if test="busi_way != null">
				busi_way=#{busi_way},
			</if>
			<if test="risk_type != null">
				risk_type=#{risk_type},
			</if>
			<if test="telephone != null">
				telephone=#{telephone},
			</if>
			<if test="address != null">
				address=#{address},
			</if>
			<if test="add_user_id != null">
				modify_user_id=#{modify_user_id},
			</if>
			<if test="add_time != null">
				modify_time=#{modify_time},
			</if>
			<if test="remark != null">
				remark=#{remark}
			</if>
		</set>
		where suspect_img_id=#{suspect_img_id}
	</update>

	<delete id="deleteCgb_face_imgByID" parameterType="String">  
  <![CDATA[ delete from cgb_face_img where img_id=#{_parameter} ]]>
	</delete>
	<delete id="deleteCgb_face_assistByID" parameterType="String">  
  <![CDATA[ delete from cgb_face_assist where suspect_img_id=#{_parameter} ]]>
	</delete>
	<delete id="deleteCgb_face_dataByID" parameterType="String">  
  <![CDATA[ delete from cgb_face_data where suspect_img_id=#{_parameter} ]]>
	</delete>
	<delete id="deleteCgb_face_group_relByID" parameterType="citic.cgb.face.domain.Cgb_face_data">  
  <![CDATA[ delete from cgb_face_group_rel where suspect_img_id=#{suspect_img_id}  and group_id=#{group_id}]]>
	</delete>
	<update id="updateFirmly_flag" parameterType="citic.cgb.face.domain.Cgb_face_data">
		update cgb_face_data set firmly_flag = #{firmly_flag}
		where suspect_img_id in (${ids})
	</update>
	
	<select id="selectCgb_face_dataByID" parameterType="String" resultType="citic.cgb.face.domain.Cgb_face_data">
		select
		<include refid="base_columns" />
		from cgb_face_data
		where suspect_img_id=#{suspect_img_id}
	</select>
    <insert id="InsertCgb_face_groupByAdd" parameterType="citic.cgb.face.domain.Cgb_face_data">
		insert into cgb_face_group(
		group_id,data_source,commit_user,commit_time,check_result
		) values(
		#{group_id},#{data_source},#{commit_user},#{commit_time},#{check_result}
		)
	</insert>
	
	
	<!-- 数据上送 -->
	<insert id="insertCgb_face_dataByInterface" parameterType="citic.cgb.face.domain.Cgb_face_data_AFP">
		insert into cgb_face_data(
		suspect_img_id,victim_img_id,victim_name,victim_card_type,victim_card_num,victim_card_validity,busi_website,busi_teller_num,busi_time,busi_type,busi_way,risk_type,telephone,address,fingerprint,similarity,data_source,add_user_id,add_time,firmly_flag,assist_batch_id,remark,md_channel,rm_flag
		) values(
		#{suspect_img_id},#{victim_img_id},#{victim_name},#{victim_card_type},#{victim_card_num},#{victim_card_validity},#{busi_website},#{busi_teller_num},#{busi_time},#{busi_type},#{busi_way},#{risk_type},#{telephone},#{address},#{fingerprint},#{similarity},#{data_source},#{busi_teller_num},#{add_time},#{firmly_flag},#{assist_batch_id},#{remark},#{md_channel},#{rm_flag}
		)
	</insert>
	<insert id="InsertCgb_face_groupByInterface" parameterType="citic.cgb.face.domain.Cgb_face_data_AFP">
		insert into cgb_face_group(
		group_id,data_source,commit_user,commit_time,check_result
		) values(
		#{group_id},#{data_source},#{busi_teller_num},#{add_time},#{check_result}
		)
	</insert>
	<insert id="insertCgb_face_group_relByBatch" parameterType="java.util.List">
		insert into
		cgb_face_group_rel(
		group_id,suspect_img_id,num,is_main
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.group_id},#{item.suspect_img_id},#{item.num},#{item.is_main}
			)
		</foreach>
	</insert>
	<select id="selectCgb_face_dataByInterface" parameterType="String" resultType="citic.cgb.face.domain.Cgb_face_data_AFP">
		select
		distinct c.suspect_img_id,c.victim_img_id,c.victim_name,c.victim_card_type,c.victim_card_num,c.victim_card_validity,c.busi_website,c.busi_teller_num,
		c.busi_time,c.busi_type,c.busi_way,c.telephone,c.address,c.add_time,c.risk_type
		from cgb_face_group a,cgb_face_group_rel b,cgb_face_data c
		where a.group_id = b.group_id and b.suspect_img_id = c.suspect_img_id
		and a.check_result = '2' and c.rm_flag !='2'
		and victim_card_num=#{victim_card_num}
		order by add_time desc
	</select>
	<insert id="insertCgb_face_request_log">
		insert into cgb_face_request_log(
		sys_code,trans_code,query_time,query_condition,remark,sender_sn
		) values(
		#{sys_code},#{trans_code},#{query_time},#{query_condition},#{remark},#{sender_sn}
		)
	</insert>
	<select id="selectCheckingStatusByInterface" parameterType="String" resultType="citic.cgb.face.domain.Cgb_face_data_AFP">
		select
		distinct c.suspect_img_id,c.victim_img_id,c.victim_name,c.victim_card_type,c.victim_card_num,c.victim_card_validity,c.busi_website,c.busi_teller_num,
		c.busi_time,c.busi_type,c.busi_way,c.telephone,c.address,c.add_time,c.risk_type
		from cgb_face_group a,cgb_face_group_rel b,cgb_face_data c
		where a.group_id = b.group_id and b.suspect_img_id = c.suspect_img_id
		and a.check_result = '1'
		and victim_card_num=#{victim_card_num}
		and not exists( 
            select 1  
            from cgb_face_group t1,cgb_face_group_rel t2,cgb_face_data t3
		    where t1.group_id = t2.group_id and t2.suspect_img_id =t3.suspect_img_id
            and t1.check_result = '2' and t3.rm_flag !='2'
		    and t3.victim_card_num=c.victim_card_num
        )
		order by add_time desc
	</select>
	
	<insert id="insertCgb_face_imgByInterface" parameterType="citic.cgb.face.domain.Cgb_face_img">
		insert into cgb_face_img(
		  img_id,img_type,img_path,img_name
		) values(
		  #{img_id},#{img_type},#{img_path},#{img_name}
		)
	</insert>
	
	<insert id="insertCgb_face_assistByInterface" parameterType="citic.cgb.face.domain.Cgb_face_img">
		insert into cgb_face_assist(
		  suspect_img_id,img_id,assist_card_type,assist_card_num,assist_card_name
		) values(
		  #{suspect_img_id},#{img_id},#{assist_card_type},#{assist_card_num},#{assist_card_name}
		)
	</insert>
	
	<update id="updateCgb_face_dataByRemove" parameterType="citic.cgb.face.domain.Cgb_face_data">
		update cgb_face_data set rm_user_id=#{rm_user_id},rm_time=#{rm_time},rm_flag=#{rm_flag}
		where suspect_img_id in (${ids})
	</update>
	<update id="updateCgb_face_dataByRemoveCheck" parameterType="citic.cgb.face.domain.Cgb_face_data">
		update cgb_face_data set rm_check_user_id=#{rm_check_user_id},rm_check_time=#{rm_check_time},rm_flag=#{rm_flag}
		where suspect_img_id in (${ids})
	</update>
	
	<select id="selectAssistImgPathListByID" parameterType="String" resultType="citic.cgb.face.domain.Cgb_face_img">
	      select suspect_img_id,b.img_id,b.img_type,b.img_path,b.img_name from cgb_face_assist a,cgb_face_img b
	      where a.img_id = b.img_id and a.suspect_img_id = #{suspect_img_id}
	</select>
</mapper> 
